<div class="detail">
  <button class="btn btn-dark" routerLink="/employee/AddVoucher">New Voucher</button>
  <button class="btn btn-primary" routerLink="/employee/dashbord">Dashboard</button>
  <table class="product-table">
    <thead>
      <tr>
        <th>Code</th>
        <th>Reduction Amount</th>
        <th>Percentage Reduction</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pr of vouchers">
        <td><h3 class="product-name">{{ pr.code }}</h3></td>
        <td><h3 class="product-name">{{ pr.reductionAmount }}</h3></td>
        <td><h3 class="product-name">{{ pr.percentageReduction }}</h3></td>
        <td><p class="product-description">{{ pr.startDate }}</p></td>
        <td><p class="product-description">{{ pr.endDate }}</p></td>
        <td><p class="product-description">{{ pr.status }}</p></td>
        <td>
          <button class="add-to-cart-btn" (click)="DeleteVoucher(pr.id)">Delete</button>
          <button class="add-to-cart-btn" (click)="sendVoucherToAllClients(pr.id)">Send To Clients SMS</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
