#header {
    background-color: #FF0100; /* Set your desired background color */
    color: #ffffff; /* Optional: Set text color */
    padding: 10px 0; /* Optional: Adjust padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
  }
#header .white-text{
    color: #ffffff;
}