<div class="stocks">
    <div class="container mt-4">
      <h1>Stocks List</h1>
      <div *ngIf="stocks.length > 0; else noStocks">
        <div class="row">
          <div *ngFor="let stock of stocks" class="col-md-4 mb-4">
            <div class="stock-card card">
              <div class="card-body">
                <h2 class="card-title">{{ stock.name }}</h2>
                <p class="card-text"><strong>Reference:</strong> {{ stock.ref }}</p>
                <p class="card-text"><strong>Location:</strong> {{ stock.location }}</p>
                <button class="btn btn-secondary" routerLink="/employee/stockDetails/{{stock.id}}"> Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" routerLink="/employee/addStock"> ADD Stock</button>
      <button class="btn btn-dark" routerLink="/employee/dashbord"> Dashbord</button>
      <button class="btn btn-primary" routerLink="/employee/produits"> Products</button>

      <ng-template #noStocks>
        <p>No stocks available.</p>
      </ng-template>
    </div>
  </div>
  