<div class="detail">

    <div class="container mt-5">
        <div class="row">
          <div class="col-md-4">
            <div class="produit-image">
              <img src="/assets/stocks2.jpg" class="img-fluid rounded" alt="produit">
            </div>
          </div>
          <div class="col-md-8">
            <div class="product-details">
              <h1 class="display-4">{{ stock.name }}</h1>
              <p class="lead"><strong>Reference:</strong> {{ stock.ref }}</p>
              <p><strong>location :</strong> {{ stock.location }} </p>
              <p><strong>MaxQuantity :</strong> {{ stock.maxQuantity }} </p>
              <button class="btn btn-secondary mt-3" routerLink="/employee/stocks">Back to stocks</button>
              <button class="btn btn-danger mt-3" (click)="DeleteStock(stock.id)">Delete</button>
            </div>
          </div>
        </div>


         <!-- Search Form -->
    <div class="row mt-4">
      <div class="col-md-12">
        <form [formGroup]="searchForm" (ngSubmit)="searchProducts()">
          <div class="form-group">
            <label for="name">Product Name</label>
            <input type="text" id="name" class="form-control" formControlName="name">
          </div>
          <div class="form-group">
            <label for="color">Color</label>
            <select id="color" class="form-control" formControlName="color">
              <option value="">All</option>
              <option *ngFor="let color of colors" [value]="color">{{ color }}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary mt-2">Search</button>
        </form>
      </div>
    </div>
        <table class="product-table">
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Price HT</th>
              <th>Price HC</th>
              <th>tauxTva</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of filteredProduits">
              <td>
                <img *ngIf="product.displayPicture" [src]="'data:image/jpeg;base64,' + product.displayPicture" alt="Product Image" class="product-image"/>
              </td> 
              <td>
                <h3 class="product-name">{{ product.libelle }}</h3>
              </td>
              <td>
                <p class="product-description">{{ product.prixHt }}</p>
              </td>
              <td>
                <p class="product-description">{{ product.prixHc }}</p>
              </td>
              <td>
                <p class="product-description">{{ product.tauxTva }}</p>
              </td>
              <td>
                <button class="add-to-cart-btn" routerLink="/employee/produitsDetails/{{product.id}}">Details</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


       