<div class="godown">
  <div class="dashboard-container">
    <h2>Dashboard</h2>
    <nav>
      <ul>
        <li><a routerLink="/employee/produits" routerLinkActive="active">Manage Products</a></li>
        <li><a routerLink="/employee/stocks" routerLinkActive="active">Manage Stocks</a></li>
        <li><a routerLink="/employee/promotions" routerLinkActive="active">Manage Promotions</a></li>
        <li><a routerLink="/employee/ProduitsPromotion" routerLinkActive="active">Produits en Promotion</a></li>
        <li><a routerLink="/employee/getPacks" routerLinkActive="active">Packs</a></li>
        <li><a routerLink="/employee/listVoucher" routerLinkActive="active">Vouchers</a></li>
      </ul>
    </nav>
  </div>

  <div class="image-container">
    <img src="/assets/employee.jpg" alt="Description of your image">
  </div>
</div>
